@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap");

:root {
  --bg: #b5bbc0;
  --secoundBg: #ffffff;
  --color-secondary: #000000;
  --btnColor: #6a7282;
  /* --font-arabic: "Almarai", ; */
}

body {
  background-color: var(--bg);
  font-family: var(--font-arabic);
  
}

/* For RTL support */
html[dir="rtl"] {
  font-family: var(--font-arabic);
}

.koko {
  position: fixed;
}

/* //ss */